<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.gaebokchi.repository.MainCommentDao">
	<insert id="insertComment">
		INSERT INTO comments (post_id, content, author) VALUES (#{postId}, #{content}, #{author})
	</insert>
	
	<select id="selectCommentsByPostId" resultType="MainComment">
		SELECT a.* , b.nickname, b.image
        FROM comments a, users b
        WHERE a.author = b.userid and a.post_id = #{postId}
        ORDER BY a.SELECTION DESC
	</select>
	
    <select id="selectCommentsByUserid" resultType="MainComment">
        SELECT id,
               post_id,
               content,
               author,
               selection,
               created_time,
               modified_time
        FROM comments
        WHERE author = #{userid}
        ORDER BY modified_time DESC
    </select>
    
	<update id="selectComment">
		UPDATE comments SET selection = 1 WHERE id = #{id}
	</update>
	
	<update id="updateUserPoint">
		UPDATE users SET point = point + 300 WHERE userid = (select author from comments where id = #{id})
	</update>

	<delete id="deleteCommentById">
		DELETE FROM comments WHERE id = #{id}
	</delete>
</mapper>
