<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.gaebokchi.repository.UserMypageDao">

    <select id="selectProByUserid" resultType="Pro">
        select u.userid,
               u.password,
               u.name,
               u.nickname,
               u.birth,
               u.gender,
               u.phone,
               u.email,
               u.address,
               u.license,
               u.account,
               u.point,
               u.grade,
               u.image,
               p.career
               from users u, pros p 
               where u.userid = #{userid} and u.license = p.id
    </select>
    
    <select id="selectByUserid" resultType="Normal">
        select * from users where userid = #{userid}
    </select>

    <!-- 닉네임 중복 체크! -->
    <select id="selectByNickname" resultType="UserMypage">
        select * from users where nickname = #{nickname}
    </select>

    <update id="update">
        update users
        set password = #{password}
        , nickname = #{nickname}
        , phone = #{phone}
        , address = #{address}
        , account = #{account}
        where userid = #{userid}
    </update>

    <update id="updateNickname">
        update users
        set nickname = #{nickname}
        where userid = #{userid}
    </update>

    <update id="updateProCareer">
        update pros
        set career = #{career}
        where id = (select license from users where userid = #{userid})
    </update>
    
    <update id="updateImage">
        update users
        set image = #{image}
        where userid = #{userid}
    </update>
    
    <select id="selectPointsByUserid" resultType="Point">
        
    </select>
    
</mapper>