@charset "UTF-8";

#title {
    font-size: 60px;
    text-align: center;
    background-color: black;
    color: white;
}

#self {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 100px;
    font-weight: 900;
}

#job {
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 10px;
    font-weight: 500;
}

.phone-number {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 50px;
}

.email {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

.address {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

#sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    float: right;
}

#sidebar img {
    max-width: 100%;
    height: auto;
    float: right;
}

#ljy {
    position: fixed;
    bottom: calc(33.33vh - 50px);
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
}

#ljy a {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

#ljy p {
    display: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#ljy a:hover+p {
    display: block;
}

#ljy p:hover {
    display: block;
}