@charset "UTF-8";

@font-face {
	font-family: 'Freesentation-9Black';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
		format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}

.card {
	background-color: #ffffff;
}

.card a {
	font-family: Freesentation-9Black;
	text-decoration: none;
	color: black;
	text-decoration: none;
}

.card-header {
	background-color: white;
	color: black;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	padding: 20px;
}

.card-header small {
	color: #31a2f4;
}

.card-title {
	padding-top: 5px;
}

.post-info {
	font-size: 0.9rem;
	color: #6c757d;
}

.post-content {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 200px;
}

button.btn-like {
	font-size: 1rem;
	background-color: white;
	border: 1px solid #31a2f4;
	color: #31a2f4;
	transition: transform 0.3s ease, background-color 0.3s ease;
	background-color: white;
}

button.btn-like:hover {
	font-weight: bold;
	border: 2px solid #31a2f4;
	color: #31a2f4;
}

.comment-form {
	border-top: 1px solid #cbcbcb;
	padding-top: 20px;
	margin-bottom: 20px;
}

.comment-form small {
	padding: 10px;
}

.comment-list {
	min-height: 200px;
	overflow-y: auto;
	max-height: 1000px;
	padding: 5 0px;
	
}

.comment {
	padding:20px;
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}

.comment:last-child {
	border-bottom: none;
}

.btn-custom {
	padding: 10px 20px;
}

.position-relative {
	position: relative;
}

.center-btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* 추가된 스타일 */
.comment-form .input-group {
	align-items: center;
}

.comment-form textarea {
	margin-bottom: 0; /* 기본 마진 제거 */
}

.comment-form .btn-register-comment {
	height: 75px; /* 버튼 높이 조정 */
	width: 75px;
	padding: 10px 20px; /* 버튼 안쪽 여백 조정 */
}

.input-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.image-container {
	max-width: 100%; /* 최대 너비 설정 */
	max-height: 100%; /* 최대 높이 설정 */
	overflow: hidden; /* 넘치는 부분 숨기기 */
	margin-bottom: 20px; /* 하단 여백 설정 */
}

.container-fluid {
	border-radius: 10px;
	padding: 20px;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}

.img-fluid {
	max-width: 100%; /* 이미지 너비 최대 100%로 설정 */
	height: auto; /* 높이 자동으로 조정 */
	display: block; /* 인라인 요소를 블록 요소로 변환 */
}