@charset "UTF-8";

/* Body 스타일 */
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

main {
    margin-bottom: 75px;
}

/* 컨테이너 스타일 */
.container-fluid {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 80px;
}

/* 헤더 스타일 */
.container-fluid header {
    text-align: center;
}

.container-fluid header h2 a {
    font-family: 'Freesentation-9Black';
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.container-fluid header h7 {
    font-family: 'SUIT-Regular', SUIT-Regular;
    color: #808080;
    margin-bottom: 30px;
}

.ad img {
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	margin-bottom: 20px;
}
/* 테이블 스타일 */
table {
    background-color: white; /* 테이블 전체 배경색 흰색 */
}

table thead {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    color: #1c1c1c;
    text-align: center;
    padding: 10px;
}

.best-posts {
	font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: bold;
	margin-top: 30px;
	font-size: 20px;
}
table thead tr th.text-center {
    border-bottom: 2px solid black !important;
}

table tbody tr {
    background-color: white; /* 테이블 행 배경색 흰색 */
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

th, td {
    text-align: center;
    background-color: white; /* 테이블 헤더 및 데이터 셀 배경색 흰색 */
}

.left-align {
    text-align: left important;
}



/* 타이틀 스타일 */
.title {
    margin-bottom: 30px;
}

/* 카드 헤더 스타일 */
main .card {
    font-family: 'SUIT-Regular', SUIT-Regular;
    margin-top: 30px !important;
    border: 1px solid #c0c0c0;
}

.card-header {
    background-color: #0080ff;
}


/* 버튼 스타일 */
.btn-outline-secondary {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-secondary:hover {
    background-color: #28a745;
    color: white;
}

.all {
     font-family: 'Pretendard-Regular', Pretendard-Regular;
     margin-top: 50px;
     font-weight: bold;
}
/* 커스텀 링크 스타일 */
.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

/* 푸터 스타일 */
footer.text-center {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 필요에 따라 상단 마진을 조정할 수 있습니다. */
}