@charset "UTF-8";

@font-face {
    font-family: 'Freesentation-9Black';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
        format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUIT-Regular', SUIT-Regular;
}

#community {
    margin-top: 100px;
    max-width: 1280px;
    padding: 20px 100px;
}

.card h2 {
    font-family: 'Freesentation-9Black';
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 10px;
}

.card h7 {
    font-family: 'SUIT-Regular', SUIT-Regular;
    color: #808080;
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 50px;
}

#card-header {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: bold;
    background-color: white; /* 배경색을 투명으로 설정 */
    border: none; /* 선택적으로 테두리 제거 */
}

#category {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    color: black;
    font-weight: bold;
    padding-left: 15%;
}

.tab-header {
    background-color: #ffffff;
    margin: 11px;
    padding-bottom: 20px;
    border: none;
}

.tab-header div {
    text-align: center;
    width: 14%;
    color: #000000;
    align-content: center;
}

.date-header, .btn-link {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    text-decoration: none !important;
    color: black;
    font-weight: 500;
}

.date-header:hover{
    color: #008040;
}

.table {
    background-color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 0;
}

.table thead {
    border-bottom: 1px solid black;
}
.table thead th {
    font-family: 'SUIT-Regular', SUIT-Regular;
    font-weight: 400;
    text-align: center;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main h1 {
    margin: 0;
}

.header-main .search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-main .search-container input {
    width: 200px;
}

.header-main .search-container button, .btn-link.text-white {
    height: 38px;
    color: #C3E6C4;
    background-color: white;
    border: 1px solid #C3E6C4;
}

.header-main .search-container button:hover, .btn-link.text-white:hover
    {
    background-color: #C3E6C4;
    color: white;
}

.header-main .btn-custom {
    height: 38px;
    color: #2A7E50;
    background-color: white;
    border: 1px solid #2A7E50;
}

.header-main .btn-custom:hover {
    background-color: #2A7E50;
    color: white;
}

/* 테이블 행 전체에 대한 스타일 */
.table tr.gray-td {
    background-color: #d3d3d3 !important;
    color: #bad8c6!important;
    pointer-events: none;
}

.table tr.white-td {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* 테이블 셀 각각에 대한 스타일 */
.table tr.gray-td td {
    background-color: #d3d3d3 !important;
    color: #000000 !important;
    pointer-events: none;
}

.table tr.white-td td {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

footer.text-center {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 필요에 따라 상단 마진을 조정할 수 있습니다. */
}