@charset "UTF-8";

body {
    
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
}

.row.justify-content-center .col-md-8 {
    display: flex;
    justify-content: center;
}

.col-md-8 {
    margin-left: auto;
    margin-right: auto;
}

.card {
	margin-top: 100px;
	width: 750px;
	padding: 20px;
}

.card h2 {
	font-family: 'Freesentation-9Black';
	color: black;
	text-align: center;
}

.card h2 a {
	color: black;
	text-decoration: none;
}

.card h3 {
	font-family: 'Freesentation-9Black';
	color: black;
}

.card h7 {
	font-family: 'SUIT-Regular', SUIT-Regular;
	color: #808080;
	text-align: center; /* 가운데 정렬 */
	margin-bottom: 50px;
}

#card-header {
	background-color: white !important; /* 배경색을 투명으로 설정 */
	padding: 10px;
	border-bottom: 2px solid #000000;
	color: black;
}

.tag { font-family: 'SUIT-Regular';
	border: 1px solid green;
	border-radius: 15px;
	margin-bottom: 0px;
}

.tag a {
	text-decoration: none;
	font-size: 15px;
	color: gray;
}

#author {
	padding: 10px;
}

#author h7 {
	color: darkgray;
}

#author p {
	font-family: 'Pretendard-Regular', Pretendard-Regular;
	font-size: 23px;
	font-weight: 700;
}

div.card-body {
	background: #cbcbcb;
	margin-bottom: 20px;
}

div.card-body .details {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
}

.details-item {
	padding: 10px;
}

.details-item h5 {
     font-family: 'SUIT-Regular';
	font-weight: bold;
	margin-bottom: 7px;
	padding-left: 10px;
}

.details-item p {
     font-family: 'SUIT-Regular';
	padding: 5px;
	background: #eff3f0;
	border-radius: 10px;
	padding-left: 15px;
	background: #e4e8e4;
}

.lastbtn .btn {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    padding: 10px 20px; /* 내부 여백 */
    font-size: 16px; /* 글자 크기 */
    border: 2px solid #c0c0c0; /* 테두리 */
    border-radius: 7px; /* 모서리 둥글게 */
    background-color: #ffffff; /* 배경색 */
    color: #000000; /* 글자색 */
    cursor: pointer; /* 마우스 커서 모양 */
    text-decoration: none; /* 링크 스타일 제거 */
}

/* Hover 효과 제거 */
.lastbtn .btn:hover {
    background-color: #ffffff; /* 배경색 초기화 */
    color: #2a7e50; /* 글자색 초기화 */
    border-color: #c0c0c0; /* 테두리 색 초기화 */
}

