@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.card {
    margin-top: 100px;
    width: 1080px;
    padding: 20px;
}

.card-header {
    background: white !important;
}

.card-header h3 {
    font-family: 'Freesentation-9Black', Freesentation-9Black;
}

.card-header p {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    color: #808080;
}

.card-header {
    background-color: #2A7E50;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body span {
    font-family: 'Pretendard-Regular';
    font-size: 0.9rem;
    padding-left: calc(100% -10px);
    font-weight: 600;
    color: #2A7E50;
}

.input-group button {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    border: 2px solid black;
}

.lastbtn .btn {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    padding: 10px 20px; /* 내부 여백 */
    font-size: 16px; /* 글자 크기 */
    border: 2px solid #c0c0c0; /* 테두리 */
    border-radius: 7px; /* 모서리 둥글게 */
    background-color: #ffffff; /* 배경색 */
    color: #000000; /* 글자색 */
    cursor: pointer; /* 마우스 커서 모양 */
    text-decoration: none; /* 링크 스타일 제거 */
}

/* Hover 효과 제거 */
.lastbtn .btn:hover {
    background-color: #ffffff; /* 배경색 초기화 */
    color: #2a7e50; /* 글자색 초기화 */
    border-color: #c0c0c0; /* 테두리 색 초기화 */
}
