@charset "UTF-8";

@font-face {
    font-family: 'Freesentation-9Black';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
        format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.card {
    margin-top: 100px;
    width: 1080px;
    padding: 20px;
}

.card h2 {
    font-family: 'Freesentation-9Black';
    text-align: center;
    margin-bottom: 10px;
}

.card h2 a {
    color: black;
    text-decoration: none;
}

.card h7 {
    font-family: 'SUIT-Regular', SUIT-Regular;
    color: #808080;
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 50px;
}

#card-header {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: bold;
    background-color: white; /* 배경색을 투명으로 설정 */
    border: none; /* 선택적으로 테두리 제거 */
    margin-left: 15%;
    margin-right: 30px;
}

select#category {
    font-weight: bold;
    border: 1px solid black;
}

input#searchButton {
    background: #2A7E50;
    color: white;
    text-align: center;
    width: 70px;
}

#category {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    color: black;
    font-weight: bold;
}

.container .tab-header {
    display: flex;
    justify-content: center !important; /* Center horizontally */
    align-items: center !important; /* Center vertically */
}

.tab-header {
    background-color: #efefef;
    border-radius: 20px;
    display: flex;
    justify-content: center !important; /* Center horizontally */
    align-items: center !important; /* Center vertically */
    margin-bottom: 20px;
    border-radius: 20px;
}

.tab-header div { /*날짜 간격*/
    text-align: center;
    width: 14%;
    color: #000000;
    align-content: center;
}

.date-header, .btn-link {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    text-decoration: none !important;
    color: black;
    font-weight: 500;
}

.date-header:hover {
    color: #008040;
}

#btnCreateMainPost, #btnCreatePost {
    margin-left: 150%; max-width : 100px;
    color: black;
    font-weight: 700;
    border: 2px solid #2A7E50;
    background: white;
    max-width: 100px;
}

.table {
    font-family: 'SUIT-Regular', SUIT-Regular;
    font-weight: 500;
    background-color: #ffffff;
}

.table thead {
    border-bottom: 2px solid black;
}

.table thead th {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    color: #1c1c1c;
    text-align: center;
    padding: 10px;
}

/* 테이블 행 전체에 대한 스타일 */
.table tr.gray-td {
    background-color: #d3d3d3 !important;
    color: #bad8c6 !important;
    pointer-events: none;
}

.table tr.white-td {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* 테이블 셀 각각에 대한 스타일 */
.table tr.gray-td td {
    background-color: #efefef !important;
    color: #000000 !important;
    pointer-events: none;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.table tr.white-td td {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

footer.text-center {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 필요에 따라 상단 마진을 조정할 수 있습니다. */
}