@charset "UTF-8";
/* 폰트 */
@font-face {
    font-family: 'Freesentation-9Black';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
        format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.card {
    margin-top: 100px;
    width: 1080px;
    padding: 20px;
}

.card-header {
    background: white !important;
}

.card-header h3 {
    font-family: 'Freesentation-9Black', Freesentation-9Black;
}

#clubType {
    width: 100%;
}

.card-body span {
    font-family: 'Pretendard-Regular';
    font-size: 0.9rem;
    padding-left: calc(100% -10px);
    font-weight: 600;
    color: #2A7E50;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background:
        url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-chevron-down\' viewBox=\'0 0 16 16\'%3E%3Cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708\'/%3E%3C/svg%3E')
        no-repeat;
    background-position: right 20px center;
    background-size: 20px 20px; /* 아이콘 크기 조정 */
    padding-right: 30px; /* 화살표와 텍스트 간 간격 */
}

select.form-control {
    font-family: 'SUIT-Regular', SUIT-Regular; /* 원하는 폰트로 변경 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* option 요소의 폰트 설정 */
select.form-control option {
    font-family: 'SUIT-Regular', SUIT-Regular; /* 원하는 폰트로 변경 */
}

.form-control {
    padding: 16px;
    height: 120%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 120%;
}

.container-fluid.px-0 input::placeholder {
    font-size: 0.8em;
}

.lastbtn .btn {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    padding: 10px 20px; /* 내부 여백 */
    font-size: 16px; /* 글자 크기 */
    border: 1px solid #c0c0c0; /* 테두리 */
    border-radius: 7px; /* 모서리 둥글게 */
    background-color: #ffffff; /* 배경색 */
    color: #000000; /* 글자색 */
    cursor: pointer; /* 마우스 커서 모양 */
    text-decoration: none; /* 링크 스타일 제거 */
}

/* Hover 효과 제거 */
.lastbtn .btn:hover {
    background-color: #ffffff; /* 배경색 초기화 */
    color: #2a7e50; /* 글자색 초기화 */
    border-color: #c0c0c0; /* 테두리 색 초기화 */
}

