@charset "UTF-8";

.flex {
    display: flex;
    gap: 10px;
}

#btnConfirm {
    padding: 0px 30px;
    white-space: nowrap;
}

.container {
    width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
}