@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 1080px;
    margin: 30px auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: 100px;
    width: 1280px;
}

.card h2 {
    font-family: 'Freesentation-9Black';
    text-align: center;
    margin-bottom: 10px;
}

.card h7 {
    font-family: 'SUIT-Regular', SUIT-Regular;
    color: #808080;
    text-align: center;
    margin-bottom: 10px;
}

.card-header {
    background: white !important;
}

div.mb-2 {
    border-top: 1px solid #808080;
    padding: 20PX 10px 0px 10px;
}

div.post-info {
    padding: 0px 20px;
}

.card-header span {
    font-family: 'Freesentation-9Black';
    color: black;
    font-size: 25px;
}

.card-body {
    padding: 0px auto !important;
}

.commentArea span {
    font-family: 'SUIT-Regular', SUIT-Regular;
    padding-left: 20px;
    padding-bottom: 10px;
}

.post-info {
    font-size: 0.9rem;
    color: #6c757d;
}

.post-content {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.btn-like button {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #0080ff;
    color: #0080ff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.btn-like button:hover {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: bold;
    background-color: #0080ff;
    color: white;
    margin-bottom: 30px;
}

.commentArea {
    border: 1px solid #adadad;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.comment-form {
    margin-bottom: 20px;
}

.comment-list {
    overflow-y: auto;
    max-height: 1000px;
}

#comment {
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
    margin: 10px;
}

.comment:last-child {
    border-bottom: none;
}

.btn-custom {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    height: 50px;
    padding: 10px 20px;
}

#lastbtn {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
}

.position-relative {
    position: relative;
}

.center-btn {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 추가된 스타일 */
.comment-form .input-group {
    align-items: center;
}

.comment-form textarea {
    margin-bottom: 0; /* 기본 마진 제거 */
}


.image-container {
    max-width: 100%; /* 최대 너비 설정 */
    max-height: 100%; /* 최대 높이 설정 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
    margin-bottom: 20px; /* 하단 여백 설정 */
}

.img-fluid {
    max-width: 100%; /* 이미지 너비 최대 100%로 설정 */
    height: auto; /* 높이 자동으로 조정 */
    display: block; /* 인라인 요소를 블록 요소로 변환 */
}