@charset "UTF-8";

@font-face {
    font-family: 'Freesentation-9Black';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
        format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

#login {
    margin-top: 100px;
    max-width: 1280px;
    padding: 20px 160px;
}

.container {
    margin-top: 30px;
    background-color: white;
}

#card {
    font-family: 'Pretendard-Regular';
    border: none;
    max-width: 600px;
    margin: 50px auto;
}

#card-header {
    background-color: white;
    padding: 0;
    border: none;
}

.card-header h2 {
    font-family: 'Freesentation-9Black', Freesentation-9Black;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.form-control, .btn {
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
}

.form-control:focus {
    border: 2px solid #000 !important; /* 검정색으로 설정 */
    box-shadow: none !important; /* 포커스시 테두리 그림자 제거 */
}

#userid, #password, #changePassword, #name, #nickname, #birth, #gender {
    width: 50%;
}

#phone {
    width: 43.5%;
}

#email {
    width: 65%;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    font-size: 0.9rem;
}

#submitButton {
    background-color: black;
    color: white;
    white-space: nowrap;
}

#submitButton:hover {
    background-color: #006030;
    color: white;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

#bank {
    flex: 1;
}

#accountNumber {
    flex: 2;
}