@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'Freesentation-9Black';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
        format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSIyagiMedium';
    src:
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
    font-family: 'Noto Sans KR', sans-serif;
}

#user {
    margin-top: 150px;
    max-width: 960px;
    padding: 40px 40px 160px;
}

.container h3 {
    font-family: 'Freesentation-9Black', Freesentation-9Black;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 3px solid black;
}

.card {
    padding: 20px;
    border: none !important;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    border: none !important;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    border: none !important;
    background: white !important;
}

.card-body {
    border-radius: 20px;
    background-color: #f9f9f7;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: 600;
    color: #495057;
}

.display-4 {
    font-family: 'SUIT-Regular', SUIT-Regular;
    font-size: 1.7rem !important;
    color: #000000;
    margin-bottom: 0;
    padding: 30px;
    white-space: nowrap;
}

.exchangebtn {
    font-family: 'Pretendard-Regular', Pretendard-Regular;
    font-weight: 600;
    border: 2px solid #000; /* 테두리 두께와 색상 지정 */
    padding: 10px 20px; /* 버튼 안쪽 여백 */
    background-color: transparent; /* 배경색을 투명으로 설정 */
    border-radius: 5px; /* 테두리 둥글게 설정 */
    cursor: pointer; /* 마우스 커서가 포인터로 변경 */
}

.exchangebtn {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.exchangebtn a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상을 상속받도록 설정 */
}

.exchangebtn:hover {
    border-color: #0056b3; /* 마우스를 올렸을 때 테두리 색상 변경 */
}

#last{
    background-color: white !important;
}

input.form-control {
    font-family: 'SUIT-Regular', SUIT-Regular;
    background-color: transparent;
    max-width:85%;
    border: none;
    border-radius: 0;
}

label {
    font-family: 'SUIT-Regular', SUIT-Regular;
    font-weight: 700;
    font-size: 16px;
}
#exchangePw1{
    font-size: 20px !important;
}

.text-muted {
    font-size: 0.9rem;
}

#withdraw, #exchangePw{
    border-bottom: 2px solid black;
}

#btnExchange{
    border: 3px solid #0056b3;
    font-weight: 400 !important;
    font-size: 20px !important;
    background: #0056b3;
    color: white;
}

#btnExchange:hover{
    border: 3px solid black;
    
}